.card {
  background-color: lavender;
  padding-top: 10px;
}
.slideritem {
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding: 20px;
  align-items: center;
}
.message {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.counts {
  padding: 30px 0;
  background-color: lavender;
  border: 1px solid lightgray;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #5fcf80;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}

.backImg {
  background-size: cover;
  .accordion__button {
    background-color: none !important;
  }
}

.accordion__button {
  background-color: none !important;
}
.infrastructure {
  display: flex;
  justify-content: space-between;
}
