.item {
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 0px;
  padding: 10px;
  justify-content: center;
}

.imageItem {
  border-radius: 1rem !important;
}
